{% comment %}
This is the typical syllabi for the Data Carpentry workshops.
The syllabus for the different curricula are listed here:
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">  
  </div>
  {% elsif site.flavor == "python" %}
  <div class="col-md-6">
    <h3 id="syllabus-ecology-python">Introduction to Python</h3>
    <ul>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/00-before-we-start/index.html">Overview of Python</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data/index.html">Starting with Data</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset/index.html">Manipulating Data Frames</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format/index.html">Data Types and Formats</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data/index.html">Combining DataFrames</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions/index.html">Data Workflows and Automation</a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/07-visualization-ggplot-python/index.html">Data Visualisation with <code>plotnine</code></a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/08-putting-it-all-together/index.html">Data Visualisation with <code>matplotlib</code></a></li>
      <li><a href="https://datacarpentry.org/python-ecology-lesson/09-working-with-sql/index.html">Interacting with Databases with <code>pandas</code></a></li>
    </ul>
  </div>
  {% else %}
  <div class="col-md-6">
    {% include warning-flavor.html %}
  </div>
  {% endif %}
  {% comment%}
</div>
{% endcomment %}

{% comment %}
Here is skeleton template of the HTML that can be used to add more entries
to this page

    <div class="col-md-6">
    <h3 id="syllabus-XXXX">XXXXX</h3>
    <ul>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
      <li><a href=""></a></li>
    </ul>
    </div>
{% endcomment %}
